<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center p-5 fw-bold">
            <h1 class="fs-1 lh-lg mr-50 fw-bold">Admin</h1>
            <a href="#" class="d-block">  <span class="material-icons">
                    add
                </span>Add New Admin</a>
        </div>
        <div class="p-5">
            <a href="#" class="me-3"><span class="material-icons">
                search
            </span></a>
            <a href="#"><span class="material-icons">
                notifications
            </span></a>
        </div>
    </div>
    <div class="px-5">
        <table class="table">
            <thead>
              <tr class=" border-dark">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Verified</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">#1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="t-end">1</td>
              </tr>
              <tr>
                <th scope="row">#2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="t-end">1</td>
              </tr>
              <tr>
                <th scope="row">#3</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#4</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#5</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#6</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#7</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#8</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#9</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
              <tr>
                <th scope="row">#10</th>
                <td>Larry the Bird</td>
                <td>hold</td>
                <td>@twitter</td>
                <td class="t-end">#</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>