        <div class="bg-primary pt-5 sidebar float-start vh-100">

            <a href="#"><img src="./logo-ANSWER.svg" alt="logo" class="ms-4"></a>
            <div class="d-flex flex-column justify-content-between">
            <ul class="list-group bg-primary mt-5 fw-bold">
                <li class="list-group-item"> <a href="#"><span class="material-icons">
                            insert_chart
                        </span> Dashboard</a></li>
                <li class="list-group-item"> <a href="#"><span class="material-icons">
                            forum
                        </span> Question</a> </li>
                <li class="list-group-item"> <a href="./index.html"><span class="material-icons">
                            assignment
                        </span> Assignment</a> </li>
                <li class="list-group-item"> <a href="#"><span class="material-icons">
                            video_library
                        </span>Course</a> </li>
                <li class="list-group-item"> <a href="./admin.html"><span class="material-icons">
                            group
                        </span>Admin</a> </li>
                <li class="list-group-item"> <a href="#"><span class="material-icons">
                            settings
                        </span>Settings</a> </li>
            </ul>
            <div class="user d-flex align-items-center ms-4">
                <img src="./andychen.jpeg" class="rounded-circle me-2" alt="">
                <div>
                <h3>Andy Chen</h3>
                <h4>andy0401@mail.com</h4>
            </div>    
            </div>                
            </div>

        </div>

 