*,
*:before,
*:after {
  box-sizing: border-box;
  //vertical-align: middle;
  // outline: 1px solid lightgreen;
}



body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

span{
    vertical-align: middle;
}


.sidebar{
    //height: 100vh;
    width: 296px;
    position: sticky;
    top: 0;
    overflow: auto;

li span{
    padding-left: 32px;
    padding-right: 14px;
}
.list-group-item{
    padding: 0;
    margin: 15px 0;
    border: 0px;
    &:hover{
        &::before{
            content: "";
            width: 4px;
            height: 100%;
            background: $high-light;
            position: absolute;
        }
        //border-left: 4px solid $high-light;
    }
}
.user{
    position: absolute;
    bottom: 32px;
    img{width: 40px;height: 40px;}
}
}
.comment{
    margin-bottom: 6px;
}

.dashboard{
    .list-group-item{
        padding: 12px;
        //width: 320px;
        background: $white;
        &:hover{
            background: $primary;
            h3 , h4{
                color: #000;
            }
        }
    }
    .card{
        img{
            width: 40px;
            height: 40px;
        }
    
        .card-header-customized{
            //padding: 18px 25px;
            button:hover{
                background: $gray-400;
            }
        }

        textarea{
            resize: none;
            color: #000;
            border: 0;
            width: 100%;
            &:active{
                border: 0;
            }
        }
    }
}

.table{
    td{
    padding-top: 18px;
    padding-bottom: 18px;        
    }

}

.pagination{
padding-top: 64px;
width: fit-content;
margin-left: auto;
    .page-link{
    //padding: 0;
    .material-icons{
        font-size: 16px;
        vertical-align: middle;
    }
    &:hover{
        background-color: $high-light;
        color: $white;
    }
}
}



.modal-content{
    img{
        width: 141px;
        height: 141px;
    }
}



.t-end{
    text-align: end;
}

.mr-50{
    margin-right: 50px;
}

h1{
    line-height: 33px;
}
h2{
    line-height: 0;
}
h3{
    line-height: 24px;
}
h4{
    line-height: 24px;
}
/*
h5{
    line-height: 0;
}
h6{
    line-height: 0;
}
*/